* {
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 26px;
}

.card {
  border: 2px solid black;
  padding: 8px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
}
.image {
  width: 100%;
  height: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 8px;
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 340px) and (max-width: 380) {
  .content p {
    overflow: hidden;
    line-clamp: 2;
  }
}
